<%= form_for @current_user.active_relationships.build do | f | %>
  <div><%= hidden_field_tag :followed_id, :value => @user.id %></div>
  <%= f.submit "Follow", :class => "waves-effect waves-light btn" %>
<% end %>
