<h1 class="center-align">GifGram</h1>
<h4 class="center-align">Gif it!</h4>
<h6 class="center-align">Just another site that offers your gif as the platform to gauge interactions among gifers.</h6>

<div class="carousel">
    <% @req.each_with_index do | post, index | %>
    <%= link_to( image_tag( post[ "images" ][ "original"][ "url" ] ), ( '#' + index.to_s ),  :class => "carousel-item" ) %>
    <% end %>
</div>
