// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile-username-font {
  font-size: 28pt;
}

.profile-name-font{
  font-size: 15pt;
  font-weight: 900;
}
